---
import SectionContainer from "./SectionContainer.astro";
import Briefcase from "./Icons/Briefcase.astro";
import Books from "./Icons/Books.astro";
import Experience from "./Experience.astro";
import Education from "./Education.astro";
---

<section class="pt-2 pb-6 lg:pt-[20px] lg:pb-[20px]">
  <div class="w-auto px-4 lg:w-[1140px]">
    <p class="mb-5 text-base text-body-color text-pretty">
      My name is Lorena – originally from sunny Spain, but these days, you'll
      find me navigating the Scottish landscapes. <br /> My coding adventure goes
      way back to the 2010s, where I first dipped my toes into the world of HTML
      and CSS by tweaking Myspace and Tumblr themes. <br /> Back then, it was all
      about adding that perfect touch of aesthetic flair. <br />
      As I transitioned into adulthood, I carved out a career in media and design.
      It was a university project that brought me back to coding, reigniting a passion
      for web design and development.
    </p>
    <p class="mb-5 text-base text-body-color">
      I'm currently pursuing a Master's degree in Full Stack Development,
      expanding my coding skills with the MEAN stack. I've also successfully
      completed a bootcamp, and along the way, I've also ticked off a few
      software development courses with SheCodes and Code First Girls over the
      past year.
    </p>
    <p class="mb-8 text-base text-body-color">
      Open to connections, collaborations, and crafting meaningful digital
      solutions together 🚀✨
    </p>
  </div>
</section>

<div class="relative overflow-hidden">
  <input
    type="checkbox"
    class="peer absolute top-0 inset-x-0 w-full h-12 opacity-0 z-10 cursor-pointer"
  />
  <div
    class="rounded-full border border-black/10 bg-black/5 flex justify-center items-center gap-x-2 py-1 px-1 lg:py-1 lg:w-1/6 lg:px-2 mb-8
  text-xs lg:text-base"
    {...Astro.props}
  >
    <h1 class="text-lg lg:text-md font-semibold text-black/90">See more...</h1>
  </div>

  <div
    class="overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-[2500px]"
  >
    <div class="lg:flex gap-x-4">
      <SectionContainer id="experience">
        <h2 class="text-2xl font-semibold mb-6 mt-2 flex gap-x-2 items-center">
          <Briefcase class="size-7" />
          Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="education">
        <h2 class="text-2xl font-semibold mb-6 mt-2 flex gap-x-2 items-center">
          <Books class="size-7" />
          Education
        </h2>
        <Education />
      </SectionContainer>
    </div>
  </div>
</div>
