---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-black transition bg-black/5 border border-gray-600 text-md hover:scale-110 hover:border-gray-900 group max-w-fit rounded-full focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
  target="_blank"
>
  <slot />
</a>
